$wrap-bg:"http://st2.depositphotos.com/3580719/11124/v/450/depositphotos_111249090-stock-illustration-seamless-background-on-the-topic.jpg";
$font-size:16px;

$header-bg: #474d57;
$header-font: "RobotoRegular";
$header-width: 100%;
$nav-btn: "../images/nav_btn.png";
$menu-bg-color: #57caad;
$check-size: 30px;
$btn-color-green: #1EBC61;
$btn-border-color-green: #009C41;
$btn-color-blue: #0287D0;
$btn-border-color-blue: #0067B0;
$btn-color-red: #F75C4C;
$btn-border-color-red: #C72C1C;


$content-bg: #dcdcdc;
$content-width: 1400px;
$article-bg: "../images/article-bg.png";
$footer-bg: #dcdcdc;
$footer-width: 100%;
